* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.color-container {
  display: flex;
}

.color {
  flex-basis: 50%;
  height:85vh;
  cursor: pointer;
  position: relative;
}

.colorcode {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  letter-spacing: 0.1rem;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 1;
}

.header {
  text-align: center;
  margin: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.2);

}

.header span {
  font-weight: 200;
}

p {
  margin: 0;
  text-align: center;
}

.colorcode::-moz-selection {
  background-color: transparent;
}

.colorcode::selection {
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .color-container {
    flex-wrap: wrap;
  }

  .color {
    height: 25vh;
  }
}
